pkgbase = crook-bin
	pkgdesc = A terminal whose unit of work is an agent
	pkgver = 0.1.13
	pkgrel = 1
	url = https://crook.id
	arch = x86_64
	license = MIT
	license = ISC
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libxkbcommon
	depends = wayland
	optdepends = libx11: an X11 session
	optdepends = libxcursor: the pointer under X11
	optdepends = libxi: input under X11
	optdepends = libxkbcommon-x11: the keyboard under X11
	provides = crook
	conflicts = crook
	options = !debug
	options = !strip
	source = crook-v0.1.13-x86_64-unknown-linux-gnu.tar.gz::https://github.com/theguriev/crook/releases/download/v0.1.13/crook-v0.1.13-x86_64-unknown-linux-gnu.tar.gz
	source = crook-0.1.13-32.png::https://raw.githubusercontent.com/theguriev/crook/v0.1.13/assets/Crook.iconset/icon_32x32.png
	source = crook-0.1.13-128.png::https://raw.githubusercontent.com/theguriev/crook/v0.1.13/assets/Crook.iconset/icon_128x128.png
	source = crook-0.1.13-256.png::https://raw.githubusercontent.com/theguriev/crook/v0.1.13/assets/Crook.iconset/icon_256x256.png
	source = crook-0.1.13-512.png::https://raw.githubusercontent.com/theguriev/crook/v0.1.13/assets/Crook.iconset/icon_512x512.png
	source = crook.desktop
	sha256sums = 79ac080bfc376af23a4b821917c61aa890eb16a54d3b1d70d6acbffb3706483d
	sha256sums = 99b55d841a27fdc7e2d1952d904491e1420d1a477b4b84b873a5743a133a0abb
	sha256sums = 54264aa7ce6f975c9a74c09585a5caa6994b1104473169e32333f921b3a55ef4
	sha256sums = d9e8b30e5e6eeff61933343366a2b9ef9a1ee537c4ee250b17fb4148983e28dd
	sha256sums = 80f130cd265aa887ec4b896f7be3fc310bbd1a586bc4826551260b5475d83486
	sha256sums = e6feae5e940af50f16157b853a90927415dc6620aa1c06a665d9f2a95d4f61ee

pkgname = crook-bin
